extends index

block content
    #container.container
        .feastDetail
          .row
            .col-xs-12
              h1#coordRegion(data-lon=feast.coordRegion[0], data-lat=feast.coordRegion[1])= feast.name
            .col-xs-12.col-md-6
              h2= feast.startDateTxt  + " - " + feast.finishDateTxt
              h6= feast.region + " (" + feast.shire + ")"
              a(class="webHall",href=feast.hallweb, target='_blank') Web de l'Ajuntament
            .col-xs-6.col-sm-3.col-md-2.col-md-offset-2.text-center.left
              span.scheduleDetails
              p= feast.shschedule
            .col-xs-6.col-sm-3.col-md-2.text-center.left
              span.placeDetails
              p= feast.place
        #map
              
    script.
        window.onload = window.location.hash = '#container';